<li [ngClass]="{'list-group-item': true,
  'list-group-item-success': appareilStatus === 'allumé',
  'list-group-item-danger': appareilStatus === 'éteint'}">
  <div style="width: 20px; height: 20px; background-color: red"
   *ngIf="getStatus() === 'éteint'; else allume"></div>
  <ng-template #allume >
    <div style="width: 20px; height: 20px; background-color: green"></div>
  </ng-template>
  <h4 [ngStyle]="{color: getColor()}">Appareil : {{appareilName}} -- Status : {{getStatus()}}</h4>
  <!-- <input type="text" class="form-control" [(ngModel)]="appareilName"> -->
  <a [routerLink]="[id]">Détails</a>
  <button class="btn btn-success" (click)="onSwitchOn()"
          [disabled]="appareilStatus === 'allumé'">Allumer</button>
  <button class="btn btn-danger" (click)="onSwitchOff()"
          [disabled]="appareilStatus === 'éteint'">Eteindre</button>

</li>
