<h2>Authentification</h2>
<button class="btn btn-success"
        *ngIf="!authStatus"
        (click)="onSignIn()"> Se Connecter </button>
<button class="btn btn-danger"
        *ngIf="authStatus"
        (click)="onSignOut()"> Se Déconnecter </button>
