<div class="col-xs-12">
  <h4>Mes appareils</h4>
  <p>Mis à jour : {{ lastUpdate | async | date: 'yMMMMEEEEd' | uppercase }}</p>
  <ul class="list-group">
    <app-appareil *ngFor="let appareil of appareils; let i = index"
                  [indexOfAppareil]="i"
                  [appareilName]="appareil.name"
                  [appareilStatus]="appareil.status"
                  [id]="appareil.id"></app-appareil>
  </ul>
  <button class="btn btn-success"
          [disabled]="!isAuth"
          (click)="onAllumer()"> Tout allumer</button>
  <button class="btn btn-danger"
          [disabled]=""
          (click)="onEteindre()"> Tout Eteindre</button>
  <button class="btn btn-success"
          (click)="onSave()"> Enregistrer </button>
  <button class="btn btn-primary"
          (click)="onFetch()"> Récuperer </button>
</div>
